<section class="our-services">
  <h1 class="ui center aligned header header-bordered">
    <span class="title" v-html="$t('our_services.title')"></span>
    <div class="sub header" v-html="$t('our_services.sub_title')"></div>
  </h1>

  <div class="ui stackable three column grid container">
    <div class="row">
      <div class="center aligned column">
        <div class="os-box">
          <div class="os-box_icon">
            <i class="idea big icon"></i>
          </div>
          <p class="title" v-html="$t('our_services.services.creative_design.title')"></p>
          <p class="description" v-html="$t('our_services.services.creative_design.description')"></p>
          <a class="read-more" v-html="$t('our_services.services.read_more')"></a>
        </div>
      </div>
      <div class="center aligned column">
        <div class="os-box">
          <div class="os-box_icon">
            <i class="privacy big icon"></i>
          </div>
          <p class="title" v-html="$t('our_services.services.safe_infor.title')"></p>
          <p class="description" v-html="$t('our_services.services.safe_infor.description')"></p>
          <a class="read-more" v-html="$t('our_services.services.read_more')"></a>
        </div>
      </div>
      <div class="center aligned column">
        <div class="os-box">
          <div class="os-box_icon">
            <i class="write big icon"></i>
          </div>
          <p class="title" v-html="$t('our_services.services.ui_ux_design.title')"></p>
          <p class="description" v-html="$t('our_services.services.ui_ux_design.description')"></p>
          <a class="read-more" v-html="$t('our_services.services.read_more')"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <div class="os-box">
          <div class="os-box_icon">
            <i class="comments outline big icon"></i>
          </div>
          <p class="title" v-html="$t('our_services.services.support.title')"></p>
          <p class="description" v-html="$t('our_services.services.support.description')"></p>
          <a class="read-more" v-html="$t('our_services.services.read_more')"></a>
        </div>
      </div>
      <div class="center aligned column">
        <div class="os-box">
          <div class="os-box_icon">
            <i class="desktop big icon"></i>
          </div>
          <p class="title" v-html="$t('our_services.services.brand_identity.title')"></p>
          <p class="description" v-html="$t('our_services.services.brand_identity.description')"></p>
          <a class="read-more" v-html="$t('our_services.services.read_more')"></a>
        </div>
      </div>
      <div class="center aligned column">
        <div class="os-box">
          <div class="os-box_icon">
            <i class="record big icon"></i>
          </div>
          <p class="title" v-html="$t('our_services.services.graphic_design.title')"></p>
          <p class="description" v-html="$t('our_services.services.graphic_design.description')"></p>
          <a class="read-more" v-html="$t('our_services.services.read_more')"></a>
        </div>
      </div>
    </div>
  </div>
</section>
