<section class="what-we-do">
  <div class="ui vertical segment">
    <h1 class="ui center aligned header header-bordered">
      <span class="title" v-html="$t('wwd.title')"></span>
      <div class="sub header" v-html="$t('wwd.sub_title')"></div>
    </h1>
    <div class="ui stackable three column grid container">
      <div class="center aligned column wwd-box">
        <i class="paint brush big icon circle-bordered"></i>
        <p class="title" v-html="$t('wwd.box_design.title')"></p>
        <p class="description" v-html="$t('wwd.box_design.description')"></p>
      </div>
      <div class="center aligned column wwd-box">
        <i class="diamond big icon circle-bordered"></i>
        <p class="title" v-html="$t('wwd.box_great_usability.title')"></p>
        <p class="description" v-html="$t('wwd.box_great_usability.description')"></p>
      </div>
      <div class="center aligned column wwd-box">
        <i class="comments outline big icon circle-bordered"></i>
        <p class="title" v-html="$t('wwd.box_premium_support.title')"></p>
        <p class="description" v-html="$t('wwd.box_premium_support.description')"></p>
      </div>
    </div>
  </div>
</section>
